<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Classification Using Transfer Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

</head>
<body>
    <header>
        <div class="head">
            <div class="logo">Smartbridge</div>
            <ul class="nav-links">
                <li><a href="/details">About</a></li>
                <li><a href="/images">Images</a></li>
                <li><a href="/input">Predict</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Weather Classification Using Transfer Learning</h1>
                <p>Through this project we will be able to classify the type of weather</p>
                <a href="/details" class="button">Few Details</a>
            </div>
        </section>
    </main>
</body>
</html>
